body { 
    font-family: 'Roboto', sans-serif;     
}

header {
    color: green;
}

#header1 {
    font-size: 23px; 
}

.firstheader {
    background-color: black; 
}

/*  header styles */
.center {
    left: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

/*  main styles */
.container {
    margin-left: auto; 
    margin-right: auto; 
    width:80%; 
}

.container:after {
	content: "";
    display: table;
    clear: both;
}
/*  footer styles */
footer:after {
  clear:both;
}


