         body { 
                font-family: 'Roboto', sans-serif;
                
            }
            a {
                color: black; 
                padding: 10px; 
                font-size: 11px; 
                text-transform: uppercase; 
            }
            .gallery-item a {
                padding: 0px; 
            }
            a:hover {
                color: gray;
                
            }
            .container {
                margin-left: auto; 
                margin-right: auto; 
                width:80%; 
            }
            .container:after {
                content: "";
                display: table;
                clear: both;
                }
    
    
            .center {
                left: 0;
                position: relative;
                text-align: center;
                width: 100%;
        
            }
    
            div.gallery-item {
                margin: 4px;
                border: 1px solid pink;
                width: 400px; 
                float:left; 
            }
    
            div.gallery-item:hover {
                border: 1px solid black;
            }
    
            div.gallery-item img {
                width: 100%;
                height: auto;
            }
    
            div.description {
                padding: 10px;
            }  
            .about {
                height: 200px;
            }